{% extends "base.html" %}
{% block content %}
<h1>This is a demonstration of the server logic using the python django framework.</h1>
<h2>This is a dynamic application, scalable, and enjoys all the inbuilt django security. </h2>
<p>This application tracks products and blogs. The same is true for all forms od data and information. </p>
<ol>
    <li>/about - To see the About page</li>
    <li>/contacts - To see the contacts page</li>
    <li>/products - To see the list of existing products</li>
    <li>/products/create - To create a new product</li>
    <li>/products/search - To search for a product using the index</li>
    <li>/products/update - To update a product using the index</li>
    <li>/blog - To see the list of existing blogs</li>
    <li>/blog/create - To create a new blog</li>
    <li>/blog/search - To search for a blog using the index</li>
    <li>/blog/update - To update a blog using the index</li>
    <li>/products/1/delete - To delete the product of index 1</li>
    <li>/blog/1/delete - To delete the blog of index 1</li>

</ol>
{% endblock %}